h1 {
  margin: 0;
  padding: 2%;
}
body {
  background-color: rgb(156, 148, 148);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

#searchInput {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  border: none;
  border-radius: 10em;
  height: 2em;
  width: 60%;
}

.restore-div {
  margin-top: 2vh;
  font-size: small;
}

.restore-btn {
  cursor: pointer;
  font-size: small;
  color: rgb(55, 46, 138);
}

.restore-div > #hideTicketsCounter {
  display: inline-block;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.search-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.labels-container {
  margin: 2em;
}

.label-search-area {
  background-color: rgb(109, 79, 79);
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 3px 3px;
  width: fit-content;
}

.label-search-area:hover {
  background-color: rgb(134, 134, 143);
}

.scroll-btn {
  position: fixed;
  cursor: pointer;
  bottom: 2%;
  right: 3%;
  border: none;
  background-color: wheat;
  padding: 1em;
  border-radius: 50%;
  opacity: 0.5;
}

.scroll-btn:hover {
  opacity: 1;
}

.clicked {
  background-color: rgb(134, 134, 143);
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 3px 3px;
  width: fit-content;
}

.fa-chevron-up {
  font-size: large;
}

/*-------styled spinner-------*/
.spinner-div {
  display: none;
}

.blur {
  filter: blur(8px);
  display: flex;
  justify-content: space-evenly;
}

.loader {
  position: fixed;
  align-content: center;
  display: flex;
  z-index: 1;
  left: 50%;
  top: 50%;
}
.loader div {
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.loader div:after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(64, 54, 100);
  margin: -4px 0 0 -4px;
}
.loader div:nth-child(1) {
  animation-delay: -0.036s;
}
.loader div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.loader div:nth-child(2) {
  animation-delay: -0.072s;
}
.loader div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.loader div:nth-child(3) {
  animation-delay: -0.108s;
}
.loader div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.loader div:nth-child(4) {
  animation-delay: -0.144s;
}
.loader div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.loader div:nth-child(5) {
  animation-delay: -0.18s;
}
.loader div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.loader div:nth-child(6) {
  animation-delay: -0.216s;
}
.loader div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.loader div:nth-child(7) {
  animation-delay: -0.252s;
}
.loader div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.loader div:nth-child(8) {
  animation-delay: -0.288s;
}
.loader div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
